<template>

  <div>
      <!-- Page Wrapper -->
  <!-- In the PHP version you can set the following options from inc/config file -->
  <!--
            Available classes:

            'page-loading'      enables page preloader
        -->

  <div id="page-wrapper" >
    <!-- Preloader -->
    <!-- Preloader functionality (initialized in js/app.js) - pageLoading() -->
    <!-- Used only if page preloader is enabled from inc/config (PHP version) or the class 'page-loading' is added in #page-wrapper element (HTML version) -->
    <div class="preloader themed-background">
      <h1 class="push-top-bottom text-light text-center">
        <i class="fas fa-warehouse fa fa-4x"></i>

        <strong>Inventario App</strong>
      </h1>
      <div class="inner">
        <h3 class="text-light visible-lt-ie9 visible-lt-ie10">
          <strong>Loading..</strong>
        </h3>
        <div class="preloader-spinner hidden-lt-ie9 hidden-lt-ie10"></div>
      </div>
    </div>
    <!-- END Preloader -->

    <div id="page-container" class="sidebar-partial sidebar-visible-lg sidebar-no-animations">

      <!-- Main Sidebar -->
      <SideBar/>
      <!-- END Main Sidebar -->

      <!-- Main Container -->
      <div id="main-container">

        <header class="navbar navbar-default">


          <!-- Search Form -->
          <form method="post" class="navbar-form-custom">
            <div class="form-group">
              <input type="text" id="top-search" name="top-search" class="form-control" placeholder="Search.." />
            </div>
          </form>
          <!-- END Search Form -->


        </header>
        <!-- END Header -->

        <main id="app">
      				<transition name="router-anim" enter-active-class="animated slideInLeft"  >
        				<router-view ></router-view>
        			</transition>
        </main>
        <!-- built files will be auto injected -->


        <!-- END Page Content -->


      </div>
      <!-- END Main Container -->
      <!-- Footer -->
      <footer class="clearfix">
        <div class="pull-right"></div>
        <div class="pull-left"></div>
      </footer>
      <!-- END Footer -->

    </div>
    <!-- END Page Container -->
  </div>
  <!-- END Page Wrapper -->

  </div>
</template>

<script>
import Vue from "vue";
import SideBar from "./components/SideBar";
var App = Vue.extend({
  name: "App",
  components: { SideBar }
});

export default App;
</script>
<style>
@import "https://cdn.jsdelivr.net/npm/animate.css@3.5.1";
</style>



