<template lang="pug">
#page-content
  .content-header
    ul.nav-horizontal.text-center
    div.header-section
      h2
        | Artículo
  div
    // Basic Form Elements Block
    .block(style='margin-left: 20px !important;')
      // Basic Form Elements Title
      .block-title
        .block-options.pull-right
        h2
          strong Datos Básicos
      // END Form Elements Title
      // Basic Form Elements Content
      form.form-horizontal.form-bordered(v-on:submit.prevent='validate')
        div
          .form-group(:class="{'has-error': errors.has('Articulo.Nombre') }")
            label.col-md-3.control-label Nombre:
            .col-md-9
              input.form-control(data-vv-as='Nombre', data-vv-name='Articulo.Nombre', v-validate="'required|max:150'", data-rules='required|max:150', placeholder='Nombre', v-model='Articulo.Nombre', v-bind:readonly="readOnly")
              p.text-danger(v-if="errors.has('Articulo.Nombre')") {{ errors.first('Articulo.Nombre') }}
          .form-group(:class="{'has-error': errors.has('Articulo.Descripcion') }")
            label.col-md-3.control-label Descripcion:
            .col-md-9
              input.form-control(type='text', data-vv-as='Descripcion', data-vv-name='Articulo.Descripcion', v-validate="'required|min:5'", data-rules='required|min:5', placeholder='Descripcion', v-model='Articulo.Descripcion',v-bind:readonly="readOnly")
              p.text-danger(v-if="errors.has('Articulo.Descripcion')") {{ errors.first('Articulo.Descripcion') }}
          .form-group(:class="{'has-error': errors.has('Articulo.TipoInventarioId') }")
            label.col-md-3.control-label Tipo de Inventario:
            .col-md-9
              select#selectArticulo.form-control(v-model='Articulo.TipoInventarioId',v-bind:disabled="readOnly")
                option(disable='', value='0') Seleccione
                option(v-for='option in TipoInventarios', v-bind:value='option.id')
                  | {{ option.descripcion}}
              p.text-danger(v-if="errors.has('Articulo.TipoInventarioId')") {{ errors.first('Articulo.TipoInventarioId') }}
          .form-group(:class="{'has-error': errors.has('Articulo.Existencia') }")
            label.col-md-3.control-label Existencia:
            .col-md-9
              input.form-control(type='number', data-vv-as='Existencia', data-vv-name='Articulo.Existencia', v-validate="'required|numeric|min_value:0'", data-rules='required|min:5', placeholder='Existencia', v-model='Articulo.Existencia',v-bind:readonly="readOnly")
              p.text-danger(v-if="errors.has('Articulo.Existencia')") {{ errors.first('Articulo.Existencia') }}
          .form-group(:class="{'has-error': errors.has('Articulo.CostoUnitario') }")
            label.col-md-3.control-label Costo Unitario:
            .col-md-9
              input.form-control(type='text', data-vv-as='Costo Unitario', data-vv-name='Articulo.CostoUnitario', v-validate="'required|decimal:2|min_value:1'", data-rules='required|min:5', placeholder='CostoUnitario', v-model='Articulo.CostoUnitario',v-bind:readonly="readOnly")
              p.text-danger(v-if="errors.has('Articulo.CostoUnitario')") {{ errors.first('Articulo.CostoUnitario') }}
          .form-group
            label.col-md-3.control-label(for='estado') Estado:
            .col-md-9
              label.switch.switch-primary
                input#estado(type='checkbox', v-model='Articulo.Activo',v-bind:disabled="readOnly")
                span
          .form-group.form-actions(style='margin-left: 20px !important;')
            .col-md-9.col-md-offset-3
              button.btn.btn-primary(type='submit', v-bind:disabled='guardardo || readOnly')
                i.fa.fa-angle-right
                |  Guardar
              router-link.btn.btn-default(v-bind:to="{path: '/Articulos/'}")
                i.fa.fa-repeat
                |  Salir
      // END Basic Form Elements Content
    // END Basic Form Elements Block
</template>
<script>
import Articulo from "@/services/articuloService";
import Vue from "vue";
var ArticuloAdd = Vue.extend({
  name: "ArticuloAdd",
  mixins: [Articulo],
  mounted: function() {
    this.getTiposInventarios();
    if (this.$route.params.id) this.getOne(this.$route.params.id);
    if (this.$route.params.readOnly)
      this.readOnly = this.$route.params.readOnly;
  }
});

export default ArticuloAdd;
</script>
