<template>
        <!-- Main Sidebar -->
      <div id="sidebar">
        <!-- Wrapper for scrolling functionality -->
        <div id="sidebar-scroll">
          <!-- Sidebar Content -->
          <div class="sidebar-content">
            <!-- Brand -->
            <a href="?" class="sidebar-brand">
              <i class="fas fa-warehouse"></i>

              <span class="sidebar-nav-mini-hide">
                <strong>Inventario App</strong>
              </span>
            </a>
            <!-- END Brand -->

            <div class="sidebar-section sidebar-user clearfix sidebar-nav-mini-hide">
              <div class="sidebar-user-avatar">
                <a href="#">
                </a>
              </div>
              <div class="sidebar-user-name" sec:authentication="name">Yoendy F. Maldonado</div>
              <div class="sidebar-user-links">
                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Perfil">
                  <i class="gi gi-user"></i>
                </a>
                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Mensajes">
                  <i class="gi gi-envelope"></i>
                </a>
                <!-- Opens the user settings modal that can be found at the bottom of each page (page_footer.html in PHP version) -->
                <a href="javascript:void(0)" class="enable-tooltip" data-placement="bottom" title="Configuración" onclick="$('#modal-user-settings').modal('show');">
                  <i class="gi gi-cogwheel"></i>
                </a>
                <a th:href="@{/seguridad/Logout}" data-toggle="tooltip" data-placement="bottom" title="Salir">
                  <i class="gi gi-exit"></i>
                </a>
              </div>
            </div>

            <!-- Theme Colors -->

            <!-- END Theme Colors -->

            <!-- Sidebar Navigation -->
            <ul class="sidebar-nav">
              <li>
                <a href="#" class="sidebar-nav-menu">
                  <i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i>
                  <i class="gi gi-home sidebar-nav-icon"></i>
                  <span class="sidebar-nav-mini-hide">Menú</span>
                </a>
                <ul>
                  <li>
                    <a href="/#/Almacenes/">Almacenes</a>
                  </li>
                  <li>
                    <a href="/#/TiposInventario/">Tipos de Inventario</a>
                  </li>
                  <li>
                    <a href="/#/TiposTransaccion/">Tipos de Transacción</a>
                  </li>
                  <li>
                    <a href="/#/Articulos/">Articulos</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#" class="sidebar-nav-menu">
                  <i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i>
                  <i class="fa fa-cogs sidebar-nav-icon"></i>
                  <span class="sidebar-nav-mini-hide">Procesos</span>
                </a>
                <ul>

                  <li>
                    <a href="/#/Inspeccion/">
                      <i class="gi gi-check"></i> Inspección</a>
                  </li>

                  <li>
                    <a href="/#/Renta/">
                      <i class="gi gi-car"></i> Renta y Devolución</a>
                  </li>
                </ul>
              </li>


            </ul>

            <!-- END Sidebar Navigation -->


          </div>
          <!-- END Sidebar Content -->
        </div>
        <!-- END Wrapper for scrolling functionality -->
      </div>
      <!-- END Main Sidebar -->
</template>
<script>
export default {
  name: "SideBar"
};
</script>
