<!-- TIPO TRANSACCION -->
<template >
		<div id="page-content">
				<div class="content-header">
					<ul class="nav-horizontal text-center">
					</ul>
					<div class="header-section">
						<h2>
							Tipos de Transacción
						</h2>
					</div>
				</div>
				<div class="form-horizontal">

					<div class="form-group">
						<label class="col-md-3 control-label" for="example-text-input"></label>
						<div class="col-md-5"></div>
					</div>

				</div>
				<div class="form-horizontal">

					<div class="form-group">
						 <label class="col-md-3 control-label" for="search-element">Buscar</label>
						<form>
								<div class="col-md-5">
									<input type="text" id="search-element" v-model="searchKey" class="form-control" required='' />
								</div>

								<button class="btn btn-info">
									<i class="fa fa-angle-right"></i> Buscar
								</button>
						</form>
					</div>
				</div>

				<div class="block">
					<!-- Table Styles Title -->
					<div class="block-title"></div>
					<div class="table-options clearfix">

						<div class="btn-group btn-group-sm pull-left"></div>
					</div>
					<div class="table-responsive">

		            <router-link class="btn btn-default" v-bind:to="{path: '/TiposTransaccion/Agregar'}">
		                <span class="gi gi-plus"></span> Agregar
		            </router-link>

						<table class="table table-striped table-vcenter">
              <thead>
								<tr  >
									<th class="text-center">Id</th>
									<th class="text-center">Nombre</th>
                  <th class="text-center">Descripcion</th>
									<th class="text-center">Estado</th>
									<th class="text-center"></th>
								</tr>
                 </thead>
                  <tbody>
								<tr v-for="item in filteredList">
									<td class="text-center">
		                                    <router-link v-bind:to="{name: 'TipoTransaccionView', params: {id: item.id, readOnly: true}}">{{ item.id }}</router-link>
		                            </td>

		                            <td class="text-center">
		                                    {{ item.nombre }}

		                            </td>
                                		                            <td class="text-center">
		                                    {{ item.descripcion }}

		                            </td>
		                            <td class="text-center">
		                                    {{ item.activo ? 'Activo' : 'Inactivo' }}

		                            </td>
									<td class="text-center">
										<router-link class="btn btn-info" v-bind:to="{name: 'TipoTransaccionView', params: {id: item.id, readOnly: true}}"> <i class="fa fa-search-plus" aria-hidden="true"></i> Ver</router-link>
		                <router-link class="btn btn-warning" v-bind:to="{name: 'TipoTransaccionEdit', params: {id: item.id, readOnly: false}}"> <i class="fa fa-edit" aria-hidden="true"></i> Editar</router-link>
		                <a class="btn btn-danger" v-on:click="eliminar(item.id)"> <i class="fa fa-times" aria-hidden="true"></i> Eliminar</a>
                  </td>
								</tr>
                </tbody>
						</table>
					</div>

				</div>
		</div>
</template>
<script>
import TipoTransaccion from "@/services/tipoTransaccionService";
import Vue from "vue";
var TipoTransaccionList = Vue.extend({
  name: "TipoTransaccionList",
  mixins: [TipoTransaccion],
  mounted: function() {
    this.getAll();
  }
});

export default TipoTransaccionList;
</script>
