<template lang="pug">
#page-content
  .content-header
    ul.nav-horizontal.text-center
    div.header-section
      h2
        | Tipo de Inventario
  div
    // Basic Form Elements Block
    .block(style='margin-left: 20px !important;')
      // Basic Form Elements Title
      .block-title
        .block-options.pull-right
        h2
          strong Datos Básicos
      // END Form Elements Title
      // Basic Form Elements Content
      form.form-horizontal.form-bordered(v-on:submit.prevent='validate')
        div
          .form-group(:class="{'has-error': errors.has('TipoInventario.Descripcion') }")
            label.col-md-3.control-label Descripcion:
            .col-md-9
              input.form-control(type='text', data-vv-as='Descripcion', data-vv-name='TipoInventario.Descripcion',  v-validate="'required|max:150'", v-model='TipoInventario.Descripcion',v-bind:readonly="readOnly")
              p.text-danger(v-if="errors.has('TipoInventario.Descripcion')") {{ errors.first('TipoInventario.Descripcion') }}
          .form-group(:class="{'has-error': errors.has('TipoInventario.CuentaContable') }")
            label.col-md-3.control-label Cuenta Contable:
            .col-md-9
              input.form-control(type='text', data-vv-as='Cuenta Contable', data-vv-name='TipoInventario.CuentaContable', v-validate="'required'", v-model='TipoInventario.CuentaContable', v-bind:readonly="readOnly")
              p.text-danger(v-if="errors.has('TipoInventario.CuentaContable')") {{ errors.first('TipoInventario.CuentaContable') }}
          .form-group
            label.col-md-3.control-label(for='estado') Estado:
            .col-md-9
              label.switch.switch-primary
                input#estado(type='checkbox', v-model='TipoInventario.Activo',v-bind:disabled="readOnly")
                span
          .form-group.form-actions(style='margin-left: 20px !important;')
            .col-md-9.col-md-offset-3
              button.btn.btn-primary(type='submit', v-bind:disabled='guardardo || readOnly')
                i.fa.fa-angle-right
                |  Guardar
              router-link.btn.btn-default(v-bind:to="{path: '/TiposInventario/'}")
                i.fa.fa-repeat
                |  Salir
      // END Basic Form Elements Content
    // END Basic Form Elements Block
</template>
<script>
import TipoInventario from "@/services/tipoInventarioService";
import Vue from "vue";

var TipoInventarioAdd = Vue.extend({
  name: "TipoInventarioAdd",
  mixins: [TipoInventario],
  mounted: function() {
    if (this.$route.params.id) this.getOne(this.$route.params.id);
    if (this.$route.params.readOnly)
      this.readOnly = this.$route.params.readOnly;
  }
});

export default TipoInventarioAdd;
</script>
