<template lang="pug">
#page-content
  .content-header
    ul.nav-horizontal.text-center
    div.header-section
      h2
        | Tipo de Transacción
  div
    // Basic Form Elements Block
    .block(style='margin-left: 20px !important;')
      // Basic Form Elements Title
      .block-title
        .block-options.pull-right
        h2
          strong Datos Básicos
      // END Form Elements Title
      // Basic Form Elements Content
      form.form-horizontal.form-bordered(v-on:submit.prevent='validate')
        div
          .form-group(:class="{'has-error': errors.has('TipoTransaccion.Nombre') }")
            label.col-md-3.control-label Nombre:
            .col-md-9
              input.form-control(data-vv-as='Nombre', data-vv-name='TipoTransaccion.Nombre', v-validate="'required|max:150'", data-rules='required|max:150', placeholder='Nombre', v-model='TipoTransaccion.Nombre', v-bind:readonly="readOnly")
              p.text-danger(v-if="errors.has('TipoTransaccion.Nombre')") {{ errors.first('TipoTransaccion.Nombre') }}
          .form-group(:class="{'has-error': errors.has('TipoTransaccion.Descripcion') }")
            label.col-md-3.control-label Descripcion:
            .col-md-9
              input.form-control(type='text', data-vv-as='Descripcion', data-vv-name='TipoTransaccion.Descripcion', v-validate="'required|min:5'", data-rules='required|min:5', placeholder='Descripcion', v-model='TipoTransaccion.Descripcion',v-bind:readonly="readOnly")
              p.text-danger(v-if="errors.has('TipoTransaccion.Descripcion')") {{ errors.first('TipoTransaccion.Descripcion') }}
          .form-group
            label.col-md-3.control-label(for='estado') Estado:
            .col-md-9
              label.switch.switch-primary
                input#estado(type='checkbox', v-model='TipoTransaccion.Activo',v-bind:disabled="readOnly")
                span
          .form-group.form-actions(style='margin-left: 20px !important;')
            .col-md-9.col-md-offset-3
              button.btn.btn-primary(type='submit', v-bind:disabled='guardardo || readOnly')
                i.fa.fa-angle-right
                |  Guardar
              router-link.btn.btn-default(v-bind:to="{path: '/TiposTransaccion/'}")
                i.fa.fa-repeat
                |  Salir
      // END Basic Form Elements Content
    // END Basic Form Elements Block
</template>
<script>
import TipoTransaccion from "@/services/tipoTransaccionService";
import Vue from "vue";
var TipoTransaccionAdd = Vue.extend({
  name: "TipoTransaccionAdd",
  mixins: [TipoTransaccion],
  mounted: function() {
    if (this.$route.params.id) this.getOne(this.$route.params.id);
    if (this.$route.params.readOnly)
      this.readOnly = this.$route.params.readOnly;
  }
});

export default TipoTransaccionAdd;
</script>
